<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jscript.js"></script>
</head>
<body>
    <h1>welcome</h1>
    <h1><%=user %></h1>
    <span><a href="http://localhost:8081/logout">LOGOUT</a></span>
    <div>
        <h1>
            <a href="http://localhost:8085/">jobapp</a>
        </h1>
    </div>
    <div>
        <h1>
            <a href="http://localhost:8081/tiktak">TickTack</a>
        </h1>
    </div>
    <div>
        <h1>
            <a href="http://localhost:8081/Webpage">Ehya1</a>
        </h1>
    </div>
    <div>
        <h1>
            <a href="http://localhost:8081/Webpage2">Ehya2</a>
        </h1>
    </div>
    <div>
        <h1>
            <a href="http://localhost:8086">Excel sheet</a>
        </h1>
    </div>
    <div>
        <h1>
            <a href="http://localhost:8081/color">colorcube</a>
        </h1>
    </div>


   
</body>
</html>